<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <!-- TODO display the name of the activity -->
        <h1 class="text-center">{{activity}} Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <!-- TODO use v-if to show this if there are validation errors -->
                <div class="alert alert-danger" v-if="errors.length > 0">
                    <!-- TODO show a list of validation errors from form -->
                    <Ul>
                        <li v-for="error in errors">{{error}}</li>
                    </Ul>
                </div>



                <div class="form-group">
                    <!-- TODO display name of activity in the label -->
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <!-- TODO use v-model to connect this input to dateString data -->
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <!-- TODO use v-model to connect this input to hours data -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <!-- TODO Create select element, use v-model to connect to the types -->
                    <!-- TODO Use v-for to create option elements, one for each type -->
                    <select class="form-control" v-model="type">
                        <option v-for="activityType in types">{{activityType}}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <div class="form-check-inline">
                    <!-- TODO v-model media -->
                    <input id="media1" class="form-check-input" type="radio" value="Home Workout" v-model="medium">
                    <label class="form-check-label" for="media1">Home Workout  <!--TODO Display text -->  </label>
                </div>

                <div class="form-check-inline">
                    <!-- TODO v-model media -->
                    <input id="media2" class="form-check-input" type="radio"value="Gym" v-model="medium"> <!-- set value for radio buttons-->
                    <label class="form-check-label" for="media2">Gym  <!-- TODO Display text -->  </label>
                </div>
<!-- workout checkbox-->
                <div>
                    <input id="completed" type="checkbox" v-model="completed" >
                    <label for = "completed"> Workout completed </label>

                </div>

                <div>
<!-- notes field would i vmodel?? notes no right??-->
                    <input id="note" type="text" v-model="notes" >
                    <label for = "note"> Notes </label>
                </div>
                <div>
                    <!-- TODO Add v-on:click -->
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>

            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3> {{ totalRecords }} records</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                            <th>Done</th>
                            <th>Notes</th>
                        </tr>
                        <!-- TODO use v-for to create one table row for each activity record -->
                        <!--working on vbind ask clara-->
                        <tr v-for="record in activityRecords">
                            <td>{{shortDate(record.date)}}</td>
                            <td>{{record.hours}}</td>
                            <td>{{record.type}}</td>
                            <td>{{record.medium}}</td>
                            <td>{{record.completed}}</td>
                            <td>{{record.notes}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- TODO add computed property to calculate the total hours -->
                <p>You have practiced a total of {{ totalHours }} hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
          
            </div>
        </div>

    </div>

    <script>

    //   TODO create new Vue app here

    let app = Vue.createApp({
        data(){
            return{
                // name of the activity tracker
                //Array of activity records
                activity: 'Workout',
                activityRecords:[],
                //vmodel for form inputs
                dateString:'',
                hours: 1,
                completed: true,
                type:'Upper body',
                medium:'Gym',
                    // UWill be used to select type of workout
                types:['Upper body','Lower body','Back','Cardio'],
                errors:[],
                notes:'',


            }
        },
        methods: {
            submit() {
                this.errors = []
                //convert date string into date oblject
                let date = new Date(this.dateString)
                //Is date valid date? IS it today or in past?
                if (!this.dateString || this.dateString === 'Invalid Date' || date > new Date()) {
                    this.errors.push('Select a valid date, today or in the past.')
                }

                if (this.hours <= 0 || this.hours > 24) {
                    this.errors.push('Hours must be greater tha 0 and less than or equal to 24')
                }
                if (!this.type) {
                    this.errors.push('Select a type of workout')
                }

                if (!this.medium) {
                    this.errors.push('Select a medium')
                }

                if (this.errors.length === 0) {
                    let record = {
                        date: date,
                        hours: this.hours,
                        type: this.type,
                        completed: this.completed,
                        medium: this.medium,
                        numCharacters: this.numCharecters
                    }

                    this.activityRecords.push(record)

                    //sort activity records
                    this.activityRecords.sort(function (r1, r2) {
                        // sorts oldest records first, most recent last, unixtimestamp.com
                        return r1.date.getTime() - r2.date.getTime()

                    })

                }
            },
            shortDate(date) {
                return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)

            },
            notes(notes) {
                if (notes > 40) {
                    return {notes}.format()
                }
                    //return function (start,0)
                }
            },
            computed: {
                totalRecords() {
                    if (this.activityRecords.length === 1) {
                        return '1 record'
                    } else {
                        return this.activityRecords.length + ' records'
                    }
                },
                totalHours() {
                    let total = 0
                    this.activityRecords.forEach(function (record) {
                        total = total + record.hours
                    })
                    return total
                },

            }
        }

    // dont forget to mount Vue app!!
    app.mount('#app')

    </script>

</body>

</html>